<h2>Onde Ouvir o Canadá Agora</h2>
<ul>
    <li>Apple Podcasts: <a href="https://podcasts.apple.com/br/podcast/canada-agora/id1603748686">https://podcasts.apple.com/br/podcast/canada-agora/id1603748686</a>
    </li>
    <li>Google Podcasts: <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9iMzFjNTgvcG9kY2FzdC9yc3M">https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9iMzFjNTgvcG9kY2FzdC9yc3M</a>
    </li>
    <li>Spotify: <a href="https://open.spotify.com/show/5l3HgF7npLcf41bxI09AQN">https://open.spotify.com/show/5l3HgF7npLcf41bxI09AQN</a>
    </li>
    <li>Anchor: <a href="https://anchor.fm/canadaagora">https://anchor.fm/canadaagora</a></li>
</ul>
<h2>Seja nosso patrão</h2>
<p>Faça parte do Patreon do Canadá Agora e apoie este projeto de mídia livre e independente e ajude a nos manter no ar. Garantimos brindes exclusivos com diversas categorias para todos os bolso.</p>
<p>Acesse <a href="https://www.patreon.com/canadaagora">https://www.patreon.com/canadaagora</a></p>

<h2>Entre em contato conosco!</h2>

<p>Você se identificou com esta história? Teve uma experiência parecida ou muito diferente? Tem uma percepção diferente da nossa? Então mande sua história, críticas, elogios, sugestões e caneladas para gente!</p>
<p>
<b>Email: </b><a href="mailto:contato@canadaagora.com">contato@canadaagora.com</a><br/>
<b>Facebook: </b><a href="https://fb.com/CanadaAgora">https://fb.com/CanadaAgora</a><br/>
<b>Twitter: </b><a href="https://twitter.com/CanadaAgora">https://twitter.com/CanadaAgora</a><br/>
<b>Instagram: </b><a href="https://www.instagram.com/CanadaAgora">https://www.instagram.com/CanadaAgora</a>
</p>

<h2>Serviços Recomendados</h2>
<p>Não arrisque ter gastos extras na sua viagem. Contrate um seguro e aproveite com tranquilidade e segurança: </b><a href="https://vempra.ca/seguroviagem">vempra.ca/seguroviagem</a></p>

<h2>Ficha Técnica</h2>
<p>
<b>Edição:</b> Masaru Hoshi<br/>
<b>Roteiro:</b> Masaru Hoshi, Paulo Enrique Dantas<br/>
<b>Produção:</b> Masaru Hoshi, Paulo Enrique Dantas
</p>

<h2>Músicas</h2>
<p>
<b>Abertura:</b> Lupin III Special Studio Session - Yuji Ohno &amp; Lupintic Six<br/>
<b>A mari usque ad mare:</b> Oh Canada - Daniel Hersog’s O Canada Jazz Orchestra<br/>
<b>Je me Souvien:</b> Mackinaw - Folk Music from Quebec<br/>
<b>Oh Canada:</b> Members Only - TrackTribe<br/>
<b>“Artes, Eventos, Sugestões”:</b> All the Fixings - Zachariah Hickman
</p>