<h2>Onde Ouvir o PoDeixar</h2>
<ul>
    <li>Apple Podcasts: <a href="https://itunes.apple.com/ca/podcast/podeixar/id574228187">https://itunes.apple.com/ca/podcast/podeixar/id574228187</a>
    </li>
    <li>Google Podcasts: <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yYzY3NmU4L3BvZGNhc3QvcnNz">https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yYzY3NmU4L3BvZGNhc3QvcnNz</a>
    </li>
    <li>Spotify: <a href="https://open.spotify.com/show/2E1l7YEpBDDW2YqnpUs3dB">https://open.spotify.com/show/2E1l7YEpBDDW2YqnpUs3dB</a>
    </li>
    <li>Podbean: <a href="https://podeixar.podbean.com/">http://podeixar.podbean.com/</a></li>
    <li>Anchor: <a href="https://anchor.fm/podeixar">https://anchor.fm/podeixar</a></li>
</ul>
<h2>Entre em contato conosco!</h2>
<p>Você se identificou com esta história? Teve uma experiência parecida ou muito diferente? Tem uma percepção diferente da nossa? Então mande sua história, críticas, elogios, sugestões e caneladas para gente!</p>
<ul>
    <li>Telegram: <a href="https://telegram.vempra.ca/">https://telegram.vempra.ca/</a></li>
    <li>Email: <a href="mailto:contato@canadaagora.com">contato@canadaagora.com</a></li>
    <li>Facebook: <a href="https://fb.com/CanadaAgora">https://fb.com/CanadaAgora</a></li>
    <li>Twitter: <a href="https://twitter.com/CanadaAgora">https://twitter.com/CanadaAgora</a></li>
    <li>Instagram: <a href="https://www.instagram.com/CanadaAgora">https://www.instagram.com/CanadaAgora</a></li>
</ul>
<h2>Serviços Recomendados</h2>
<p>Não arrisque ter gastos extras na sua viagem. Contrate um seguro e aproveite com tranquilidade e segurança: <a href="https://vempra.ca/seguroviagem">vempra.ca/seguroviagem</a></p>
<p>Está querendo garantir sua aprovação nos exames de proficiência do TOELF ou IELTS? Precisa de confiança, credibilidade e segurança? Conheça agora mesmo os serviços da professora Soraya Quirino. <a rel="noreferrer noopener" href="https://www.sorayaquirino.com/"
        target="_blank">https://www.sorayaquirino.com/</a></p>
<p>Pensando em estudar no Canadá e precisa de ajuda para decidir por onde começar? Conte com a consultoria educacional da Ana Paula Paltian da De Boa no Mundo. <a href="https://www.deboanomundo.com/" target="_blank" rel="noreferrer noopener">https://www.deboanomundo.com/</a></p>